<div class="container py-5">
  <div class="row g-4">
    
    <div class="col-md-3">
      <div class="title-box">
        <h2 class="h4">My <br> Watchlist</h2>
        <p class="text-muted">Your saved movies and shows.</p>
      </div>
    </div>

    @for(item of watchListItems; track item.id) {
      <div class="col-md-3">
        <app-mediaitem [item]="item"></app-mediaitem>
      </div>
    } 
    
    @empty {
      <div class="col-md-9 d-flex justify-content-center align-items-center">
        <h3 class="text-muted">Your watchlist is empty.</h3>
      </div>
    }
    
  </div>
</div>