<div class="container-fluid">
  <h1>{{courses[0].description}}</h1>
  <div class="row mt-2">
    @for(course of courses; track trackCourse; let index = $index; let count = $count;) {
      Courses Count: {{count}}
      <div class="col-md-4 col-12">
        <app-course-card (onLogOut)="handleLogout()" [index]="index" (enrolled)="oncCourseEnrolled($event)" [course]="course"/>
      </div>
    }


    <h4>{{data.coursename | lowercase}}</h4>
    <h4>{{data.coursename | uppercase}}</h4>
    <h4>{{data.coursename | titlecase}}</h4>
    <h4>{{date | date: "MM-dd-yyyy"}}</h4>
    <h4>{{percent | percent}}</h4>
  </div>
</div>

