
    <div class="item position-relative">
        <a [routerLink]="['/moviedetails', item.id, item.media_type]">
      
      @if(item.poster_path){
        <img class="w-100" [src]="'https://image.tmdb.org/t/p/w500/' + item.poster_path" [alt]="item.title" />
      
      } @else if(item.imgUrl) {
        <img class="w-100" [src]="item.imgUrl" [alt]="item.movieName" />

      } @else if(item.profile_path){
        <img class="w-100" [src]="'https://image.tmdb.org/t/p/w500/' + item.profile_path" [alt]="item.name" />
      
      } @else {
        <img class="w-100 imgageReplace" src="../../assets/images/person.jpg"/>
      }

    <h3 class="h6 my-2">{{ item.movieName || (item.title | watch) || item.name }}</h3> 
      
    </a>
        @if(!item.profile_path){
          <div style="display: flex; align-items: center;gap:10px; justify-content: space-between;">

            @if(!isInWatchlist){
              <button (click)="addItemToWatchList(item)"
                class="btn btn-outline-warning btn-sm w-100"
                
                [disabled]="isInWatched" 
                >Add to Watchlist</button>
            } @else {
              <button (click)="removeItemFromWatchList(item)"
                class="btn btn-sm w-100 removebtn" 
                >Remove Watchlist</button>
            }

            @if(!isInWatched){
              <button (click)="addItemToWatched(item)"
                class="btn btn-outline-success btn-sm w-100"
                >Add to Watched</button>
            } @else {
              <button (click)="removeItemFromWatched(item)"
                class="btn btn-sm w-100 btn-success" 
                >Remove Watched</button>
            }

          </div>
        }
    </div>
