
    <div class="item position-relative">
        <a [routerLink]="['/moviedetails', item.id, item.media_type]">
          @if(item.poster_path){
            <img
              class="w-100"
              [src]="'https://image.tmdb.org/t/p/w500/' + item.poster_path"
              [alt]="item.title"
            />
        }
        @if(item.profile_path){
            <img
              class="w-100"
              [src]="'https://image.tmdb.org/t/p/w500/' + item.profile_path"
              [alt]="item.title"
            />
        } @else if(!item.poster_path && !item.profile_path) {
          <img class="w-100 imgageReplace" src="../../assets/images/person.jpg"/>
        }
      <h3 class="h6 my-2">{{ item.title ? (item.title | watch) : '' }} {{ item.name }}</h3> 
      @if(item.vote_average) {
        <div class="vote position-absolute top-0 end-0 text-white p-1">
        {{ item.vote_average | number:'1.1-1' }}
      </div>
      }
        </a>
        @if(!item.profile_path){
          <div style="display: flex; align-items: center;gap:10px; justify-content: space-between;">
            @if(!isInWatchlist){
              <button (click)="addItem(item)"
            class="btn btn-outline-warning btn-sm w-100 "
            >Add to Watchlist</button>
            } @else {
              <button (click)="removeItem(item)"
              class="btn btn-sm w-100 removebtn" 
              >remove from Watchlist</button>
            }
          </div>
        }
    </div>
