<div class="demo-container">

  <section class="theme-box green">
    <h2>Green Theme</h2>
    
    <div class="buttons-row">
      <button (click)="toggleMode()" mat-raised-button color="primary">Primary (Green)</button>
      
      <button mat-raised-button color="accent">Accent (Pink)</button>
      
      <button mat-stroked-button color="warn">Warn</button>
      
      <button mat-button>Basic</button>

      <button mat-mini-fab color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </section>

  <hr>

  <section class="theme-box red">
    <h2>Red Theme</h2>
    
    <div class="buttons-row">
      <button mat-raised-button  color="primary">Primary (Red)</button>
      <button mat-raised-button color="accent">Accent (Pink)</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-button>Basic</button>
      <button mat-mini-fab color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </section>

  <hr>

  <section class="theme-box blue">
    <h2>Blue Theme</h2>
    
    <div class="buttons-row">
      <button mat-raised-button color="primary">Primary (Blue)</button>
      <button mat-raised-button color="accent">Accent (Pink)</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-button>Basic</button>
      <button mat-mini-fab color="primary">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      </button>
    </div>
  </section>


  <mat-divider></mat-divider>
  <mat-divider></mat-divider>

</div>