<div class="w-75 mx-auto py-4">
  @if (error) {
  <div class="alert alert-danger">{{ error }}</div>
  }

  <form
    (ngSubmit)="submitRegisterForm(registerForm)"
    [formGroup]="registerForm"
  >
  
  <app-form-elements forLink="first_name" label="First name" type="text"></app-form-elements>
    <app-validation-errors
      [control]="registerForm.get('first_name')"
      fieldName="First name"
    ></app-validation-errors>

    <app-form-elements forLink="last_name" label="Last name" type="text"></app-form-elements>
    
    <app-validation-errors
      [control]="registerForm.get('last_name')"
      fieldName="Last name"
    ></app-validation-errors>

    <app-form-elements forLink="age" label="age" type="number"></app-form-elements>

    <app-validation-errors
      [control]="registerForm.get('age')"
      fieldName="Age"
    ></app-validation-errors>

    <app-form-elements forLink="email" label="Email" type="email"></app-form-elements>
    
    <app-validation-errors
      [control]="registerForm.get('email')"
      fieldName="Email"
    ></app-validation-errors>


    <app-form-elements forLink="password" label="Password" type="password"></app-form-elements>

      <app-validation-errors
        [control]="registerForm.get('password')"
        fieldName="Password"
      ></app-validation-errors>
    

    <button
      [disabled]="registerForm.invalid"
      type="submit"
      class="btn btn-info"
    >
      <span>Register</span>
      @if (isLoading) {
      <i class="fas fa-spinner fa-spin"></i>
      }
    </button>
  </form>
</div>
